.MapaReserva{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    margin-left:565px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #222;
    color:azure;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    
}